header {
	background: linear-gradient(to right, pink, white);
}

header h2 {
	color: purple;
	font-family: arial;
	font-size: 35px;
	margin: 0px;
}
nav {
	text-align: right;
	font-family: arial;
	color: purple;
}

nav a {
	padding-right: 10px;
}

.estiloCard {
	width: 20rem;
	padding: 5px;
	color: blue;
	font-family: arial;
	text-align: center;
}

.estiloCardProductos {
	width: 35rem;
	padding: 5px;
	color: purple;
	border-radius: 20px; 
	font-family: arial;
	text-align: center; 
	flex-direction: row;
	border-width: 4px;
	margin: 5px;
}

.estiloCardImagen {
	height: 200px;
}

.estiloCardDetail {
	width: 50rem;
	padding: 5px;
	color: purple;
	border-radius: 20px; 
	font-family: arial;
	text-align: center; 
	flex-direction: row;
	border-width: 4px;
	margin: 5px;
}

.estiloCardImagenDetail {
	height: 400px;
}

.botonContador {
	color: purple;
	font-family: arial;
	border-radius: 15px;
	background-color: pink;
	border: purple;
}

